@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
  url('../fonts/roboto-v30-latin_cyrillic-regular.woff2') format('woff2'),
  url('../fonts/roboto-v30-latin_cyrillic-regular.woff') format('woff');

}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local(''),
  url('../fonts/roboto-v30-latin_cyrillic-italic.woff2') format('woff2'),
  url('../fonts/roboto-v30-latin_cyrillic-italic.woff') format('woff');

}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
  url('../fonts/roboto-v30-latin_cyrillic-700.woff2') format('woff2'),
  url('../fonts/roboto-v30-latin_cyrillic-700.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(''),
  url('../fonts/roboto-v30-latin_cyrillic-900.woff2') format('woff2'),
  url('../fonts/roboto-v30-latin_cyrillic-900.woff') format('woff');
}
